/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
	overflow-x: hidden;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: "Syne";
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

h1 > span {
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

h1 a {
	text-decoration: none;
	color: #b1663c;
}

li a {
	text-decoration: none;
	color: black;
}

#logout {
	cursor: pointer;
}
/* li:hover {
	color: #b1663c;
} */

.current {
	font-weight: bold;
}

.logged-banner {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: black;
	width: 1440px;
	height: 50px;
	margin-left: -150px;
	margin-right: -150px;
	margin-top: 0;
}

#loggedBanner p {
	color: white;
	display: flex;
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 16px;
}

#loggedBanner p i {
	color: white;
	padding-right: 12px;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 140px;
	display: flex;
	justify-content: center;
}

#projets button {
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 14px;
	color: black;
	align-content: center;
	cursor: pointer;
	border: none;
	background-color: unset;
}

#modifyProjects i {
	margin: 0 10px 0 30px;
}

.filters {
	display: flex;
	justify-content: center;
}
.filters button {
	font-family: "Syne";
	font-weight: 700;
	color: #1d6154;
	border: #1d6154 solid 1px;
	border-radius: 60px;
	margin: 0 5px 0 5px;
	padding: 10px 15px 10px 15px;
}

.filters button:hover {
	background-color: #1d6154;
	color: white;
}

.not-displayed {
	display: none;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact,
#login {
	width: 50%;
	margin: auto;
}

#contact,
#login > * {
	text-align: center;
}

#login #errorMsg {
	font-family: "Work Sans";
	color: red;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 10px;
}

#login a {
	text-align: center;
	font-family: "Work Sans";
	font-weight: bold;
	text-decoration: underline;
	font-size: 14px;
	color: #3d3d3d;
}

#contact,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}

#login label {
	margin: 2em 0 1em 0;
	font-family: "Work Sans";
	font-weight: bold;
	font-size: 14px;
	color: #3d3d3d;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

#login input[type="submit"] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	padding: 0 40px 0 40px;
	width: 45%;
	text-align: center;
	border-radius: 60px;
}

#login input[type="submit"]:hover {
	background-color: #0e2f28;
}

.fa-eye {
	display: flex;
	justify-content: end;
	position: relative;
	width: 20px;
	top: -32px;
	left: 520px;
	color: #1d6154;
	opacity: 75%;
}

.fa-eye:hover {
	color: #0e2f28;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/* footer nav li {
	font-family: "Work Sans";
	font-weight: 300;
	line-height: 16.42px;
	font-size: 14px;
} */

/* aside modal 1 */

#openModal {
	text-decoration: none;
	color: black;
}

#openModal i {
	color: black;
}

.modalTemplate {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.modalVisible {
	display: flex;
}

.modalInvisible {
	display: none;
}

.modal-wrapper {
	background-color: white;
	width: 630px;
	max-width: calc(100vh - 20px);
	height: 800px;
	max-height: calc(100vh - 20px);
	padding: 0 20px 0 20px;
	overflow: auto;
	border-radius: 10px;
}

.close-modal-div {
	display: flex;
	justify-self: flex-end;
	margin: 25px 0 10px 0;
}

#js-modal-close {
	all: unset;
}

#close-mark {
	width: 24px;
	height: 24px;
}

#modalTitle {
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 26px;
	color: black;
	align-items: center;
	margin: 45px 0 45px 0;
}

#api-works {
	display: flex;
	margin: 0;
	flex-wrap: wrap;
	padding: 0 60px 0 60px;
}

.modal-work {
	width: calc(100% / 6);
	display: flex;
	flex-direction: column;
	margin: 5px;
}

#delete-icon-div {
	display: flex;
	justify-content: end;
}

.delete-icon {
	width: 20px;
	height: 20px;
	position: relative;
	bottom: -25px;
	left: -5px;
}

#button-add-work-div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.divider-modal {
	width: 80%;
	margin: 70px 0 35px 0;
}

#add-new-work {
	font-family: "Syne";
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1d6154;
	padding: 0 40px 0 40px;
	width: 35%;
	height: 35px;
	text-align: center;
	border-radius: 60px;
	border: none;
	align-items: center;
	margin: 0 0 45px 0;
}

#add-new-work:hover {
	background-color: #0e2f28;
}

/* second modal */

#ModalTitleAddPhoto {
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 26px;
	color: black;
	align-items: center;
	margin: 45px 0 45px 0;
}

#js-modal-close-modal2 {
	all: unset;
}

#close-mark-modal2 {
	width: 24px;
	height: 24px;
}

#modal-add-work {
	display: flex;
	justify-content: center;
	margin: 0 105px 0 105px;
	height: 30%;
	background-color: #e8f1f6;
}

#input-add-work {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

#photo-icon {
	width: inherit;
	display: flex;
	justify-content: center;
}

#photo-icon i {
	color: #cbd6dc;
}

input[type="file"] {
	display: none;
}

#add-file-label label {
	font-family: "Syne";
	font-weight: 500;
	font-size: 14px;
	color: #306685;
	background-color: #cbd6dc;
	margin: 10px auto;
	padding: 0 40px 0 40px;
	width: 30%;
	height: 45px;
	border-radius: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#input-add-work p {
	display: flex;
	justify-content: center;
	color: #444444;
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 10px;
}
